body {
  background-color: rgb(34, 32, 32);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 40px;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.order-entry {
  padding-right: 50px;
}
