.PortfolioValue {
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(248, 248, 248, 0.932);
  width: 400px;
  display: grid;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summary {
  padding-left: 20px;

}

p {
  margin: 4px;
}
