.PortfolioValue {
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #2a3338; 
  width: 350px;
  height: 60px;
  display: grid;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.summary {
  padding-left: 20px;
}

p {
  margin: 4px;
}
