.PortfolioValue {
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #2a3338; 
  width: 350px;
  height: 50px;
  display: grid;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.summary {
  padding-left: 20px;
}

p {
  margin: 4px;
}
