table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 16px;
  width: 90%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

thead tr {
  background-color: #2a3338;
  color: white;
}

th, td {
  padding: 12px 10px;
  text-align: center;
} 

tbody tr {
  border-bottom: 1px solid rgb(65, 64, 64);
  color: white;
}

tbody tr:nth-of-type(odd) {
  background-color: rgb(61,68,73);
}

tbody tr:nth-of-type(even) {
  background-color: #2a3338;
}

tbody tr:last-of-type {
  border-bottom: 2px solid  rgb(65, 64, 64); 
}