.user-box {
  width: 320px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #2a3338; 
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
